.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid #ccc;
    gap: 10px; /* space between elements */    
}

.doneItem {
    background-color: greenyellow;
    padding: 10px;
    width: 100%;
}

.actionBtn {
    margin: 0 5px;
}

.check {
    margin-right: 10px; /* Space between checkbox and task text */
}

.actionIcon {
    font-size: 1.5em;
    color: #0d6efd; /* Icon color */
    cursor: pointer;
}

.actionIcon:hover {
    color: #0056b3;
}

.listItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 100%;
}