.actionBtn{
    margin: 5px;
}

.doneItem{
    background-color: greenyellow;
}

.item{
    margin: 5px 0;
}

.check{
    margin: 5px;
}

.actionIcon {
    font-size: 1.5em;
    margin: 0 5px;
    color: #0d6efd; /* Use the color that suits your theme */
    vertical-align: middle;
  }
  
  .actionIcon:hover {
    color: #0056b3; /* Darker shade for hover effect */
  }
  